<h1>Welcome to Fallon and Byrne</h1>


<%= image_tag "fallon2.gif",  %>



<p>The Whole Idea
  There’s a simple idea behind Fallon & Byrne, and it’s this. We believe in wonderful food, fine wine, great company. We
  put it on our shelves for you to take away. Or we serve it to you, in any of several ways. You choose. We’ll even
  bring the whole experience to you to cater for an event at home or in work. In short, the answer is yes. Now what’s
  the question?
</p>
