<p id="notice"> <%= notice %> </p>


<%= render(@cart.line_items) %>
 <%= render "carts/cart" %>



<!-- <#%= number_to_currency(@cart.total_price, :unit => '&euro')%>
<#%= button_to "Checkout", new_order_path, method: :get %>
<#%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
<#%= link_to 'Edit', edit_cart_path(@cart) %> |
<#%= link_to 'Back', carts_path %>  -->








