<h3>Confirm you order</h3>

<div class="form"> <!--Via Agile Dev with Rails -->
  <fieldset>
    <legend><h5>Please Enter Your Details |
      Payment Type "Check", "Credit card", "Purchase order" </h5></legend>
    <%= render 'form' %>
  </fieldset>
</div>



<%= link_to 'Back', orders_path %>
