<h3>Confirm you order</h3>

<div class="form"> <!--Via Agile Dev with Rails -->
  <fieldset>
    <legend>Please Enter Your Details</legend>
    <%= render 'form' %>
  </fieldset>
</div>



<%= link_to 'Back', orders_path %>
