<h1>New order</h1>

<div class="depot_form"> <!--Via Agile Dev with Rails -->
  <fieldset>
    <legend>Please Enter Your Details</legend>
    <%= render 'form' %>
  </fieldset>
</div>



<%= link_to 'Back', orders_path %>
