side {
  float: left;
  padding: 1em 2em;
  width: 13em;
  background: #141;
  form, div {
    display: inline;
    }

input {
    font-size: small;



 #cart {
    font-size: smaller;
    color: white;

table {
      border-top: 1px dotted #595;
      border-bottom: 1px dotted #595;
      margin-bottom: 10px;
      }
    }

ul {
    padding: 0;
    li {
      list-style: none;
      a {
        color: #bfb;
        font-size: small;
      }
    }
  }
}

  #logo {
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    padding: 10px;
  }
  body { padding-top: 100px; }
  footer { margin-top: 100px; }
  table, td, th { vertical-align: middle !important; border: none !important; }
  th { border-bottom: 1px solid #DDD !important; }
  td.picture { width: 140px; }
  td.picture img { width: 140px; }

  .depot_form {
    fieldset {
      background: #efe;
      legend {
        color: #dfd;
        background: #141;
        font-family: sans-serif;
        158 • Chapter 12. Task G: Check Out!
        Prepared exclusively for Ronan Carton report erratum • discuss
        padding: 0.2em 1em;
      }
    }
    form {
      label {
        width: 5em;
        float: left;
        text-align: right;
        padding-top: 0.2em;
        margin-right: 0.1em;
        display: block;
      }
      select, textarea, input {
        margin-left: 0.5em;
      }
      .submit {
        margin-left: 4em;
      }
      br {
        display: none
      }
    }
  }